<div class="container">
  <div class="mx-auto" style="width: 30rem">
    <div class="text-center mt-5">
      <h2>Edit club</h2>
    </div>
        <%= render 'form', club: @club %>
    </div>
  </div>
</div>
