<div class="container">
  <br>
  <div class="d-flex justify-content-end">
    <%= link_to 'New Club', new_club_path, class: 'btn btn-warning text-white' %>
  </div>
  <% if @clubs.length == 0 %>
    <h4>You have not joined any clubs yet</h4>
  <% else %>
    <% @clubs.each do |club| %>
      <%= render "shared/club_card", club: club %>
    <% end %>
  <% end %>
  <br>
</div>
