<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to 'New Club', new_club_path, class: 'btn btn-warning text-white' %>
  </div>
  <% @clubs.each do |club| %>
    <%= render "shared/club_card", club: club %>
  <% end %>
</div>
