<%= render "shared/back" %>
<div class="container">
  <h1>My teams</h1>
  <div class="d-flex">
    <% @teams.each do | team | %>
      <%= render 'shared/team_card', team: team %>
    <% end %>
  </div>
</div>