// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgba(0, 63, 122, 1);
$yellow: #FFC65A;
$orange: #FF6700;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #EBEBEB;
$dark-blue: #003F7A;
