.inherit-all {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.br {
  border-radius: 8px;
}

.br-t {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.box-shadow{
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.m-20 {
  margin: 20px;
}

.my-20 {
  margin: 20px 0;
}

.mx-20 {
  margin: 0 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-bottom: 20px;
}

.img-fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-fill-h {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.iconize {
  width: 20px;
  height: 20px;
}

.fixed-on-scroll{
  position: sticky;
  top: 30px;
}
