.cal {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  min-width: 1000px;
}

.cal-item {
  position: relative;
  justify-content: center;
  align-items: center;
}

.cal-item h4 {
  text-align: center;
  margin: 5px 0;
}

.event-cell {
  text-align: center;
  margin: 7px 10px;
  background: #1ec11b;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.empty {
    background: #aaa;
    color: #fff;
}

.popcard {
  max-height: 250px;
  overflow: scroll;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  border-radius: 10px;
  background: #dbdbdb;
  padding: 0 5px;
  z-index: 10;
}
