<h2 class='text-white'>Invite Link</h2>
<div data-controller="clipboard" data-clipboard-success-content-value="Copied!" class="input-group my-3 shadow-sm">
  <input type="text" value="<%= "https://www.go-turbo.me/clubs/#{club.id}/invite/#{club.invite_token}" %>" data-clipboard-target="source"  class="form-control bg-white"/>
  <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="btn btn-dark">Copy to clipboard</button>
</div>
