<%= render "shared/back" %>
<h1>Events</h1>
<% @events.each do |event| %>
    <%= link_to event_path(event) do %>
    <%= render "card" , event: event%>
  <% end %>
<% end %>
<%= link_to 'Create an event', new_team_event_path %>
